h2{
    padding-top: 70px;
}

section{
    height: 100vh;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: aqua;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;

}
.hero-text{
    text-align: center;
    position: absolute;
    top:50%;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px black;
}
.hero-image{
    height:100vh;
    width: 100%;
}
.nav-visible{
    background-color:black ;
}

.nav-invisible{
    background-color:transparent ;
}
.portrait{
    width: 100%;
}
.cv-icon{
    height: 2rem;
    width: 2rem;
}
a:link{
    text-decoration: none;
}


.skill-image{
    height: 12rem;
    width: 12rem;
}

